<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>合同管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
    <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" href="./css/theme2192.min.css" th:href="@{/css/theme2192.min.css}">
    <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        var is_remember = true;
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="#"><b>合同管理系统</b></a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.userInfo.name}"></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a id="editPwd">修改密码</a></dd>
                <dd>
                    <a th:href="@{/logout}">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <shiro:hasPermission name="contractcost:view">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="合同管理">&#xe723;</i>
                        <cite>合同管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i></a>
                    <ul class="sub-menu">
                        <shiro:hasPermission name="contractcost:contract:view">
                            <li>
                                <a onclick="xadmin.add_tab('合同列表','view?url=contract/contract-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>合同管理</cite></a>
                            </li>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="contractcost:invoice:view">
                            <li>
                                <a onclick="xadmin.add_tab('发票统计','view?url=contract/contract-info-cost')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>发票统计</cite></a>
                            </li>
                        </shiro:hasPermission>
                    </ul>
                </li>
            </shiro:hasPermission>
            <shiro:hasPermission name="manager:view">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
                        <cite>用户管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i></a>
                    <ul class="sub-menu">
                        <shiro:hasPermission name="manager:user:view">
                            <li>
                                <a onclick="xadmin.add_tab('用户管理','view?url=user/user-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>用户管理</cite></a>
                            </li>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="manager:manager:view">
                            <li>
                                <a onclick="xadmin.add_tab('业务员管理','view?url=manager/manager-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>业务员管理</cite></a>
                            </li>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="manager:role:view">
                            <li>
                                <a onclick="xadmin.add_tab('角色管理','view?url=role/role-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>角色管理</cite></a>
                            </li>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="manager:permission:view">
                            <li>
                                <a onclick="xadmin.add_tab('权限分类','view?url=permission/permission-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>权限分类</cite></a>
                            </li>
                        </shiro:hasPermission>
                    </ul>
                </li>
            </shiro:hasPermission>
            <shiro:hasPermission name="system:view">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="系统设置">&#xe6ce;</i>
                        <cite>系统设置</cite>
                        <i class="iconfont nav_right">&#xe697;</i></a>
                    <ul class="sub-menu">
                        <shiro:hasPermission name="system:type:view">
                            <li>
                                <a onclick="xadmin.add_tab('合同分类管理','view?url=contractType/contractType-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>合同类别管理</cite></a>
                            </li>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="system:moneyBackType:view">
                            <li>
                                <a onclick="xadmin.add_tab('回款类型管理','view?url=moneybackType/moneybackType-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>回款类型管理</cite></a>
                            </li>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="system:projectType:view">
                            <li>
                                <a onclick="xadmin.add_tab('工程类型管理','view?url=projectType/projectType-list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>工程类型管理</cite></a>
                            </li>
                        </shiro:hasPermission>
                    </ul>
                </li>
            </shiro:hasPermission>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面
            </li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!--<iframe src='./welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>-->
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<script>
    layui.use(['laydate', 'jquery', 'layer', 'form', 'table', 'element'], function () {
        var layer = layui.layer;

        $('#editPwd').click(function () {
            layer.open({
                type: 2,
                title: "修改密码",
                area: ['500px', '500px'],
                content: 'view?url=editPwd',
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    var submitID = 'add',
                        submit = layero.find('iframe').contents().find('#' + submitID);
                    submit.trigger('click');
                },
                success: function (layero, index) {
                    // console.log(data)
                    var body = layer.getChildFrame('body');
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                }
            });
        });

    })
</script>
</body>
</html>