<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
    <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
    <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <style>
        body {
            background: white;
        }
    </style>
</head>

<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="contractNum" id="contractNum" placeholder="请输入合同编号"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="itemName" id="itemName" placeholder="请输入项目名称" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="company" id="company" placeholder="请输入付款单位名称" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="contractMoney" id="contractMoney" placeholder="请输入合同金额" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input id="timeLimit" class="layui-input" autocomplete="off" type="text"
                                   placeholder="请选择年份"/>
                        </div>
<!--                        <div class="layui-input-inline layui-show-xs-block">-->
<!--                            <input type="text" name="signingTime" id="signingTime" placeholder="请选择年份"-->
<!--                                   autocomplete="off"-->
<!--                                   class="layui-input">-->
<!--                        </div>-->
                        <div class="layui-input-inline layui-show-xs-block nc">
                            <select name="itemManager" id="itemManager" lay-search>
                                <option value="">请输入或选择业务员</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" placeholder="开始时间" name="start" id="start" readonly>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" placeholder="结束时间" name="end" id="end" readonly>
                        </div>
                        <div class="layui-input-inline">
                            <select name="contractType" id="contractType">
                                <option value="">请选择回款类型</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="projectId" id="projectId">
                                <option value="">请选择工程类型</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="status" id="status">
                                <option value="">请选择状态</option>
                                <option value="1" checked="checked">未完成</option>
                                <option value="2">已完成</option>
                                <option value="0">已删除</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="status" id="signingStatus">
                                <option value="">签订状态</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="status" id="isArchive">
                                <option value="">是否存档</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <script type="text/html" id="toolbarDemo">
                    <div class="layui-card-header">
                        <shiro:hasPermission name="contractcost:contract:batchdelete">
                            <button class="layui-btn layui-btn-danger" lay-event="getCheckData">
                                <i class="layui-icon"></i>批量删除
                            </button>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="contractcost:contract:add">
                            <a class="layui-btn" lay-event="toContractAddPage">
                                <i class="layui-icon"></i>添加</a>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="contractcost:contract:export">
                            <button class="layui-btn layui-btn-normal" lay-event="printfContractWord1">
                                未收款项目对账表
                            </button>
                            <button class="layui-btn layui-btn-normal" lay-event="printfContractWord2">
                                开票未收款项目对账表
                            </button>
                            <button class="layui-btn layui-btn-normal" lay-event="printfContractWord3">
                                未开票未收款项目对账表
                            </button>
                        </shiro:hasPermission>
                        <shiro:hasPermission name="contractcost:contract:summary">
                            <button class="layui-btn layui-btn-normal" lay-event="printfContractSummary">
                                导出合同汇总表
                            </button>
                            <button class="layui-btn layui-btn-normal" lay-event="printfYearSummary">
                                导出年度汇总表
                            </button>
                        </shiro:hasPermission>
                    </div>
                </script>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="contractTable" lay-filter="contractTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="barDemo">
    <shiro:hasPermission name="contractcost:contract:details:view">
        <a class="layui-btn layui-btn-xs" lay-event="detail_contract">详情</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="contractcost:contract:apply:add">
        <a class="layui-btn layui-btn-xs" lay-event="applyInvoice">开票</a>
    </shiro:hasPermission>
<!--    <shiro:hasPermission name="contractcost:contract:back:view">-->
<!--        <a class="layui-btn layui-btn-xs" lay-event="moneyBack">回款</a>-->
<!--    </shiro:hasPermission>-->
    <shiro:hasPermission name="contractcost:contract:adjustment:view">
        <a class="layui-btn layui-btn-xs" lay-event="adjustment">调整</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="contractcost:contract:payment:view">
        <a class="layui-btn layui-btn-xs" lay-event="payment">付款</a>
    </shiro:hasPermission>
    <shiro:hasPermission name="contractcost:contract:report:view">
        <a class="layui-btn layui-btn-xs" lay-event="report">报告</a>
    </shiro:hasPermission>
</script>
<script>
    var pageDataIdMap;
    var idMap = new Map();
    layui.use(['laydate', 'jquery', 'layer', 'form', 'table'], function () {
        var laydate = layui.laydate
            , layer = layui.layer
            , table = layui.table
            , form = layui.form
            , $ = layui.jquery;

        //渲染时间选择框
        laydate.render({
            elem: '#timeLimit',
            trigger: 'click',
            range: true,
            type: 'year'
        });

        //年选择器
        laydate.render({
            elem: '#signingTime'
            , type: 'year'
        });

        $.ajax({
            url: 'getContractTypeList',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index, item) {

                    $('#contractType').append(
                        new Option(item.name, item.id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });

        $.ajax({
            url: 'selectProjectTypeList',
            dataType: 'json',
            type: 'post',
            success: function (data) {
                $.each(data.data, function (index, item) {

                    $('#projectId').append(
                        new Option(item.name, item.id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });

        $.ajax({
            url: 'getManagerInfos',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index, item) {

                    $('#itemManager').append(
                        new Option(item.name, item.id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });

        var contractTable = table.render({
            elem: '#contractTable'
            , id: 'contractTable'
            , toolbar: '#toolbarDemo'
            , url: 'getContractInfo' //数据接口
            , defaultToolbar: []
            , method: 'post'
            , title: '合同列表'
            , page: true //开启分页
            , totalRow: true
            , even: true
            , limit: 100
            , limits: [10,20,50,100,200,500,1000,10000]
            , height: 500
            , text: {
                none: "暂无数据！"
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'managerName', align: 'center', title: '业务员', totalRowText: '合计', width: 80, fixed: 'left'}
                    , {field: 'signingTime', align: 'center', title: '年份', width: 80, fixed: 'left'}
                    , {field: 'contractNum', align: 'center', title: '合同编号', width: 100, fixed: 'left'}
                    , {field: 'itemName', align: 'center', title: '工程项目', width: 150, fixed: 'left'}
                    , {field: 'company', align: 'center', title: '付款单位', width: 150}
                    , {field: 'openTime', align: 'center', title: '开票时间', width: 100, hide: true}
                    , {field: 'contractMoney', align: 'center', title: '合同金额', totalRow: true, width: 100}
                    , {field: 'moneySum', align: 'center', title: '已收金额', totalRow: true, width: 100}
                    , {field: 'noMoneySum', align: 'center', title: '未收金额', totalRow: true, width: 100}
                    , {field: 'noOpenNoMoneySum', align: 'center', title: '未开票金额', totalRow: true, width: 100}
                    , {field: 'openMoneySum', align: 'center', title: '已开票金额', totalRow: true, width: 100}
                    , {field: 'yesOpenMoneySum', align: 'center', title: '开票已收', totalRow: true, width: 100}
                    , {field: 'noOpenMoneySum', align: 'center', title: '开票未收', totalRow: true, width: 100}
                    , {field: 'conclusion', align: 'center', title: '备注', width: 300}
                    , {field: 'typeName', align: 'center', title: '类别', width: 80}
                    , {field: 'projectName', align: 'center', title: '工程类别', width: 80}
                    , {
                    field: 'signingStatus', align: 'center', title: '签订状态', templet: function (d) {
                        if (d.signingStatus == 0) {
                            return "是"
                        } else if (d.signingStatus == 1) {
                            return "否"
                        } else {
                            return ""
                        }
                    }, width: 80
                }
                    , {
                    field: 'isArchive', align: 'center', title: '是否存档', templet: function (d) {
                        if (d.isArchive == 0) {
                            return "是"
                        } else if (d.isArchive == 1) {
                            return "否"
                        } else {
                            return ""
                        }
                    }, width: 80
                }
                    , {
                    field: 'status', title: '状态', align: 'center', templet: function (d) {
                        var state = "";
                        if (d.status == "0") {
                            state = "<font color='red'>已废弃</font>";
                        } else if (d.status == "1") {
                            state = "<font color='#9acd32'>未完成</font>";
                        } else if (d.status == "2") {
                            state = "<font color='green'>已完成</font>";
                        }
                        return state;
                    }
                    , width: 80
                }
                    , {title: '操作', toolbar: '#barDemo', align: 'center', width: 305, fixed: 'right'}
                ]
            ]
            , response: {
                statusCode: 1 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                }
            }, done: function (res, curr, count) {
                var len = res.data.length;
                pageDataIdMap = new Map();
                for(var i = 0;i < len;i++){   //填充当前页的数据
                    pageDataIdMap[res.data[i].id] = res.data[i].id;
                }
                var chooseNum = 0;   //记录当前页选中的数据行数
                for(var i = 0;i < len;i++){   //勾选行回显
                    for(var key in idMap){
                        if(res.data[i].id == key){
                            res.data[i]["LAY_CHECKED"]='true';
                            //找到对应数据改变勾选样式，呈现出选中效果
                            var index= res.data[i]['LAY_TABLE_INDEX'];
                            $('tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                            $('tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');
                            chooseNum++;
                        }
                    }
                }
                if(len != 0 && chooseNum == len){   //表示该页全选  --  全选按钮样式回显
                    $('input[lay-filter="layTableAllChoose"]').prop('checked',true);
                    $('input[lay-filter="layTableAllChoose"]').next().addClass('layui-form-checked');
                }
            },
        });

        table.on('checkbox(contractTable)', function(obj){
            if(obj.type == 'one'){    //单选操作
                if(obj.checked){     //选中
                    idMap[obj.data.id] = obj.data.id;
                }else{      //取消选中
                    for(var key in idMap){
                        if(key == obj.data.id){   //移除取消选中的id
                            delete idMap[obj.data.id];
                        }
                    }
                }
            }else{      //全选操作
                if(obj.checked){    //选中
                    for(var pageKey in pageDataIdMap){
                        idMap[pageKey] = pageKey;
                    }
                }else{     //取消选中
                    for(var pageKey in pageDataIdMap){
                        for(var key in idMap){
                            if(key == pageKey){
                                delete idMap[pageKey];
                            }
                        }
                    }
                }
            }
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#startTime' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#endTime' //指定元素
        });

        //监听提交
        form.on('submit(sreach)', function (data) {
            // layer.alert(JSON.stringify(data.field), {
            // 	title: '最终的提交信息'
            // })
            contractTable.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    contractNum: $("#contractNum").val(),
                    itemName: $("#itemName").val(),
                    company: $("#company").val(),
                    contractMoney: $("#contractMoney").val(),
                    startTime: $("#start").val(),
                    endTime: $("#end").val(),
                    status: $("#status").val(),
                    itemManager: $("#itemManager").val(),
                    contractType: $("#contractType").val(),
                    projectId: $("#projectId").val(),
                    signingTime: $("#signingTime").val(),
                    timeLimit: $("#timeLimit").val(),
                    isArchive: $("#isArchive").val(),
                    signingStatus: $("#signingStatus").val()
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            })
            return false;
        });

        //监听表头部工具栏
        table.on('toolbar(contractTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    //批量删除
                    layer.confirm('真的删除选中行吗？', function (index) {
                        var data = checkStatus.data;
                        var contractIds = []
                        $.each(data, function (key, val) {
                            contractIds.push(val.id)
                        })
                        if (contractIds.length == 0) {
                            layer.msg("没有选中行！", {icon: '5', time: '1000'})
                        } else {
                            //请求后台
                            $.ajax({
                                url: "delContractInfo"
                                , type: "post"
                                , data: {
                                    contractIds: contractIds
                                }
                                , async: "false"
                                , success: function (res) {
                                    if (res.success) {
                                        layer.msg(res.msg, {icon: "6", time: '1000'})
                                        contractTable.reload({
                                            page: {
                                                curr: 1 //重新从第 1 页开始
                                            }
                                        })
                                    } else {
                                        layer.msg(res.msg, {icon: '5', time: '1500'})
                                    }
                                }
                                , error: function () {
                                    layer.msg("系统错误！", {icon: "5", time: 1000})
                                }
                            })
                        }
                    });
                    break;
                case 'printfContractWord1':
                    //导出合同报表
                    var data = checkStatus.data;
                    var contractIds = []
                    for(var key in idMap){
                        contractIds.push(key)
                    }
                    if (contractIds.length == 0) {
                        layer.msg("没有选中行！", {icon: '5', time: '1000'})
                    } else {
                        var downloader = document.createElement("a");
                        downloader.setAttribute("href", "printfContractWord?contractId=" + contractIds +"&type=1");
                        // $("body").append(downloader);

                        // downloader.setAttribute('target', '_blank');
                        downloader.setAttribute('id', 'startTelMedicine');
                        // 防止反复添加
                        if (document.getElementById('startTelMedicine')) {
                            document.body.removeChild(document.getElementById('startTelMedicine'));
                        }
                        document.body.appendChild(downloader);
                        downloader.click();
                    }
                    break;
                case 'printfContractWord2':
                    //导出合同报表
                    var data = checkStatus.data;
                    var contractIds = []
                    for(var key in idMap){
                        contractIds.push(key)
                    }
                    if (contractIds.length == 0) {
                        layer.msg("没有选中行！", {icon: '5', time: '1000'})
                    } else {
                        var downloader = document.createElement("a");
                        downloader.setAttribute("href", "printfContractWord?contractId=" + contractIds +"&type=2");
                        // $("body").append(downloader);

                        // downloader.setAttribute('target', '_blank');
                        downloader.setAttribute('id', 'startTelMedicine');
                        // 防止反复添加
                        if (document.getElementById('startTelMedicine')) {
                            document.body.removeChild(document.getElementById('startTelMedicine'));
                        }
                        document.body.appendChild(downloader);
                        downloader.click();
                    }
                    break;
                case 'printfContractWord3':
                    //导出合同报表
                    var data = checkStatus.data;
                    var contractIds = []
                    for(var key in idMap){
                        contractIds.push(key)
                    }
                    if (contractIds.length == 0) {
                        layer.msg("没有选中行！", {icon: '5', time: '1000'})
                    } else {
                        var downloader = document.createElement("a");
                        downloader.setAttribute("href", "printfContractWord?contractId=" + contractIds +"&type=3");
                        // $("body").append(downloader);

                        // downloader.setAttribute('target', '_blank');
                        downloader.setAttribute('id', 'startTelMedicine');
                        // 防止反复添加
                        if (document.getElementById('startTelMedicine')) {
                            document.body.removeChild(document.getElementById('startTelMedicine'));
                        }
                        document.body.appendChild(downloader);
                        downloader.click();
                    }
                    break;
                case 'toContractAddPage':
                    //跳转合同添加页面
                    layer.open({
                        type: 2,
                        content: 'view?url=contract/contract-add',
                        area: ['100%', '100%'],
                        yes: function (index, layero) {
                            var submitID = 'LAY-lab-add-submit',
                                submit = layero.find('iframe').contents().find('#' + submitID);
                            submit.trigger('click');
                        },
                        success: function (layero, index) {
                        }
                    });
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
                case 'printfContractSummary':
                    //导出合同报表
                    var data = checkStatus.data;
                    var contractIds = []
                    for(var key in idMap){
                        contractIds.push(key)
                    }
                    if (contractIds.length == 0) {
                        layer.msg("没有选中行！", {icon: '5', time: '1000'})
                    } else {
                        var downloader = document.createElement("a");
                        downloader.setAttribute("href", "printfContractSummary?contractId=" + contractIds);
                        // $("body").append(downloader);

                        // downloader.setAttribute('target', '_blank');
                        downloader.setAttribute('id', 'startTelMedicine');
                        // 防止反复添加
                        if (document.getElementById('startTelMedicine')) {
                            document.body.removeChild(document.getElementById('startTelMedicine'));
                        }
                        document.body.appendChild(downloader);
                        downloader.click();
                    }
                    break;
                case 'printfYearSummary':
                    //导出年度报表
                    var timeLimit = $("#timeLimit").val()
                    if (timeLimit == null || timeLimit == '') {
                        layer.msg("请选择年度区间！", {icon: '5', time: '1000'})
                    } else {
                        var downloader = document.createElement("a");
                        downloader.setAttribute("href", "printfYearSummary?timeLimit=" + timeLimit);
                        // $("body").append(downloader);

                        // downloader.setAttribute('target', '_blank');
                        downloader.setAttribute('id', 'startTelMedicine');
                        // 防止反复添加
                        if (document.getElementById('startTelMedicine')) {
                            document.body.removeChild(document.getElementById('startTelMedicine'));
                        }
                        document.body.appendChild(downloader);
                        downloader.click();
                    }
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(contractTable)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail_contract') {
                layer.open({
                    type: 2,
                    content: 'view?url=contract/contract-info.html',
                    area: ['100%', '100%'],
                    yes: function (index, layero) {
                        var submitID = 'LAY-lab-add-submit',
                            submit = layero.find('iframe').contents().find('#' + submitID);
                        submit.trigger('click');
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body');
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.getData(data)
                        body.find("#contractId").val(data.id)
                        body.find("#contractNum").val(data.contractNum)
                        body.find("#contractName").val(data.contractName)
                        body.find("#itemName").val(data.itemName)
                        body.find("#itemManager1").val(data.itemManager)
                        body.find("#company").val(data.company)
                        body.find("#contractMoney").val(data.contractMoney)
                        body.find("#customer").val(data.customer)
                        body.find("#specialInstructions").val(data.specialInstructions)
                        body.find("#premium").val(data.premium)
                        body.find("#conclusion").val(data.conclusion)
                        body.find("#signingTime").val(data.signingTime)
                        if (data.status == "0") {
                            body.find("#status").val("0")
                        } else if (data.status == "1") {
                            body.find("#status").val("1")
                        } else if (data.status == "2") {
                            body.find("#status").val("2")
                        }
                        body.find("#typeId1").val(data.type)
                        body.find("#projectId1").val(data.projectId)
                        if (data.signingStatus == "0") {
                            body.find("#signingStatus").val("0")
                        } else if (data.signingStatus == "1") {
                            body.find("#signingStatus").val("1")
                        }
                        if (data.isArchive == "0") {
                            body.find("#isArchive").val("0")
                        } else if (data.isArchive == "1") {
                            body.find("#isArchive").val("1")
                        }
                    }
                });
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    var trData = checkStatus.data;
                    layer.alert(JSON.stringify(trData));
                });
            } else if (layEvent === 'cost') {
                layer.open({
                    type: 2,
                    content: 'view?url=contract/contract-cost',
                    area: ['100%', '100%'],
                    title: '成本信息',
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body');
                        body.find("#contractId").val(data.id)
                    }
                });
            } else if (layEvent === 'moneyBack') {
                layer.open({
                    type: 2,
                    content: 'view?url=contract/contract-money-back.html',
                    area: ['100%', '100%'],
                    yes: function (index, layero) {
                        var submitID = 'LAY-lab-add-submit',
                            submit = layero.find('iframe').contents().find('#' + submitID);
                        submit.trigger('click');
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body');
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        // iframeWin.getData(data)
                        body.find("#contractId").val(data.id);
                        body.find("#contractMoney").val(data.contractMoney);
                    }, end: function () {
                        contractTable.reload();
                    }
                });
            } else if (layEvent === 'applyInvoice') {
                layer.open({
                    type: 2,
                    content: 'view?url=contract/contract-applyInvoice.html',
                    area: ['100%', '100%'],
                    yes: function (index, layero) {
                        var submitID = 'LAY-lab-add-submit',
                            submit = layero.find('iframe').contents().find('#' + submitID);
                        submit.trigger('click');
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body');
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        body.find("#contractId").val(data.id);
                    }, end: function () {
                        contractTable.reload();
                    }
                });
            } else if (layEvent === 'adjustment') {
                layer.open({
                    type: 2,
                    content: 'view?url=contract/adjustment-list',
                    area: ['100%', '100%'],
                    title: '调整信息',
                    yes: function (index, layero) {
                        var submitID = 'LAY-lab-add-submit',
                            submit = layero.find('iframe').contents().find('#' + submitID);
                        submit.trigger('click');
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.find("#contractId").val(data.id);
                    }, end: function () {
                        contractTable.reload();
                    }
                });
            } else if (layEvent === 'payment') {
                layer.open({
                    type: 2,
                    content: 'view?url=contract/payment-list',
                    area: ['100%', '100%'],
                    title: '调整信息',
                    yes: function (index, layero) {
                        var submitID = 'LAY-lab-add-submit',
                            submit = layero.find('iframe').contents().find('#' + submitID);
                        submit.trigger('click');
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.find("#contractId").val(data.id);
                    }
                });
            } else if (layEvent === 'report') {
                layer.open({
                    type: 2,
                    content: 'view?url=report/report-list',
                    area: ['100%', '100%'],
                    title: '报告信息',
                    yes: function (index, layero) {
                        var submitID = 'LAY-lab-add-submit',
                            submit = layero.find('iframe').contents().find('#' + submitID);
                        submit.trigger('click');
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.find("#contractId").val(data.id);
                    }
                });
            }
        });
    });

</script>

</html>