<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css" th:href="@{/css/bootstrapStyle.css}">
    <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
    <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
    <script src="./lib/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" src="./comment/messageAlert.js" th:src="@{/comment/messageAlert.js}"></script>
    <link rel="stylesheet" href="./css/metroStyle.css" th:href="@{/css/metroStyle.css}">
    <script src="./js/jquery.ztree.all.min.js" th:src="@{/js/jquery.ztree.all.min.js}"></script>
    <style>
        form{
            padding: 20px;
        }
        .layui-textarea{
            min-height: 80px;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">
                    合同详情
                </div>
                <form class="layui-form" id="addForm">
                    <input id="contractId" type="hidden" name="contractId">
                    <input type="hidden" value="" name="fileUploads" id="fileUploads">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="x-red">*</span>成本合同编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="subContractNum" lay-verify="required" autocomplete="off" placeholder="请输入成本合同编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="x-red">*</span>成本类型</label>
                        <div class="layui-input-block">
                            <input lay-verify = "required" readonly id="costTypeName" class="layui-input" type="text" placeholder="请选择成本类型" autocomplete="off">
                            <input id="costTypeId" type="hidden" name="costTypeId" />
                            <div class="ztree" id="treeDiv" style="z-index:1000;background:white;display:none; position: absolute;border:1px solid #4aa5ff;width:200px;">
                                <ul id="tree"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><span class="x-red">*</span>合同金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="costMoney" placeholder="￥" autocomplete="off" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></span>备注</label>
                        <div class="layui-input-block">
                            <input type="text" name="subContractName" placeholder="请输入备注" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="x-red">*</span>乙方单位</label>
                        <div class="layui-input-block">
                            <input type="text" name="company" lay-verify="required" placeholder="请输入乙方单位" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><span class="x-red">*</span>乙方联系人</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" type="text" name="payee" placeholder="请输入乙方联系人" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">乙方电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="payeeTel" placeholder="请输入乙方电话" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item  layui-hide">
                        <div class="layui-input-block">
                            <button type="submit" id="submit" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-card">
                <div class="layui-card-header">
                    附件上传
                </div>
                <div style="text-align: center;padding-bottom: 30px">
                    <!-- <img src="img/file.png"> -->
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
                        <div class="layui-upload-list">
                            <table class="layui-table">
                                <thead>
                                <tr><th>文件名</th>
                                    <th>大小</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr></thead>
                                <tbody id="demoList"></tbody>
                            </table>
                        </div>
                        <button type="button" class="layui-btn" id="testListAction">开始上传</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['upload','form','jquery'], function(){
        var $ = layui.jquery,
            upload = layui.upload,
            form = layui.form;

        var subId,sub;

        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            },
            check: {
                enable: true,
                chkStyle: "radio",//值为checkbox或者radio表示
                radioType:"all",
            },
            //回调
            callback: {
                onClick: function (e, treeId, treeNode, clickFlag) {
                    var ztree = $.fn.zTree.getZTreeObj("tree");
                    ztree.checkNode(treeNode, !treeNode.checked, true);
                },
                view: {
                    fontCss: { fontSize: "14px" }
                }
            }
        }

        //加载菜单树
        $.ajax({
            url: 'getCostTypeInfoList',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                if(data.success) {
                    var ztree = $.fn.zTree.init($("#tree"), setting, data.data);
                    ztree.expandAll(true);
                    var disabledNode = ztree.getNodeByParam("level", 0);
                    ztree.setChkDisabled(disabledNode, true);
                } else {
                    layer.msg('加载模块数据节点失败', {
                        icon: 5
                    });
                }
            },
            error: function(data) {
                layer.msg(data.msg, {
                    icon: 5
                });
            }
        });

        //下拉框显示 隐藏
        $('#costTypeName').on("click",function () {
            showTree1();
        });
        function showTree1(){
            if($('#treeDiv').css('display') == 'none'){
                $('#treeDiv').css('display','block');
            } else{
                $('#treeDiv').css('display','none');
            }
            $("body").bind("mousedown", onBodyDownByActionType1);
        }
        function hideTree1() {
            $('#treeDiv').css('display','none');
            $("body").unbind("mousedown", onBodyDownByActionType1);
            return false;
        }

        //区域外点击事件
        function onBodyDownByActionType1(event) {
            var zTreeOjb = $.fn.zTree.getZTreeObj("tree");
            var nodes = zTreeOjb.getCheckedNodes(true);//在提交表单之前将选中的checkbox收集
            var node = nodes[0];
            if (typeof(node) != "undefined"){
                $('#costTypeName').val(node.name);
                var s=node.id;
                while(node=node.getParentNode())s=node.id+','+s;
                $('#costTypeId').val(s);
            }else {
                $('#costTypeName').val("");
                $('#costTypeId').val("");
            }
            if (event.target.id.indexOf('tree') == -1){
                if(event.target.id != 'selectDevType'){
                    hideTree1();
                }
            }

        }


        //监听提交
        form.on('submit(submit)', function(data) {
            $.ajax({
                url : 'addSubContractInfo',
                type : 'post',
                data : $('#addForm').serialize(),
                dataType : 'json',
                async : false,
                success : function(result){
                    console.log(result)
                    if(result.success) {
                        console.log(result.data)
                        sub = result.data;
                        layer.msg(result.msg, {icon: 6,time: 1500},function () {
                            parent.layui.table.reload('subContract');
                            parent.reloadTree();
                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        });
                    }else {
                        layer.msg(result.msg, {icon: 5,time: 1500});
                    }
                },
                error: function() {
                    layer.msg('系统错误！', {
                        icon: 5
                    });
                }
            });
            return false;
        });
        //多文件列表示例
        var demoListView = $('#demoList')
            ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: 'uploadSubEnclosureInfo'
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,size: 50000 //最大允许上传的文件大小
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));
                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });
                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                console.log(res)
                if(res.code == 1){ //上传成功
                    //伪上传,返回上传路径
                    //原数据
                    var filePaths = $("#fileUploads").val()
                    filePaths += res.data
                    $("#fileUploads").val(filePaths)
                    // console.log($("#filePaths").val())
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });
    });
</script>
</html>