<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwkj.cost.mapper.auto.ContractCostTypeRelatedMapper">
  <resultMap id="BaseResultMap" type="com.xwkj.cost.model.ContractCostTypeRelated">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="contract_id" jdbcType="BIGINT" property="contractId" />
    <result column="cost_type_id" jdbcType="VARCHAR" property="costTypeId" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="payee_tel" jdbcType="VARCHAR" property="payeeTel" />
    <result column="is_pay" jdbcType="INTEGER" property="isPay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_id, cost_type_id, cost, payee, payee_tel, is_pay, create_time, note, 
    is_enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_gb_contract_cost_type_related
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_gb_contract_cost_type_related
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xwkj.cost.model.ContractCostTypeRelated">
    insert into tbl_gb_contract_cost_type_related (id, contract_id, cost_type_id, 
      cost, payee, payee_tel, 
      is_pay, create_time, note, 
      is_enable)
    values (#{id,jdbcType=BIGINT}, #{contractId,jdbcType=BIGINT}, #{costTypeId,jdbcType=VARCHAR}, 
      #{cost,jdbcType=DECIMAL}, #{payee,jdbcType=VARCHAR}, #{payeeTel,jdbcType=VARCHAR}, 
      #{isPay,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, 
      #{isEnable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xwkj.cost.model.ContractCostTypeRelated">
    insert into tbl_gb_contract_cost_type_related
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="costTypeId != null">
        cost_type_id,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="payee != null">
        payee,
      </if>
      <if test="payeeTel != null">
        payee_tel,
      </if>
      <if test="isPay != null">
        is_pay,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=BIGINT},
      </if>
      <if test="costTypeId != null">
        #{costTypeId,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="payee != null">
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="payeeTel != null">
        #{payeeTel,jdbcType=VARCHAR},
      </if>
      <if test="isPay != null">
        #{isPay,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xwkj.cost.model.ContractCostTypeRelated">
    update tbl_gb_contract_cost_type_related
    <set>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=BIGINT},
      </if>
      <if test="costTypeId != null">
        cost_type_id = #{costTypeId,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="payee != null">
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="payeeTel != null">
        payee_tel = #{payeeTel,jdbcType=VARCHAR},
      </if>
      <if test="isPay != null">
        is_pay = #{isPay,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xwkj.cost.model.ContractCostTypeRelated">
    update tbl_gb_contract_cost_type_related
    set contract_id = #{contractId,jdbcType=BIGINT},
      cost_type_id = #{costTypeId,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=DECIMAL},
      payee = #{payee,jdbcType=VARCHAR},
      payee_tel = #{payeeTel,jdbcType=VARCHAR},
      is_pay = #{isPay,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>