<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwkj.cost.mapper.auto.PermissionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xwkj.cost.model.PermissionInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="perm" property="perm" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, perm, p_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_gb_permission_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_gb_permission_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xwkj.cost.model.PermissionInfo" >
    insert into tbl_gb_permission_info (id, name, perm, 
      p_id)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{perm,jdbcType=VARCHAR}, 
      #{pId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xwkj.cost.model.PermissionInfo" >
    insert into tbl_gb_permission_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="perm != null" >
        perm,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="perm != null" >
        #{perm,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xwkj.cost.model.PermissionInfo" >
    update tbl_gb_permission_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="perm != null" >
        perm = #{perm,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xwkj.cost.model.PermissionInfo" >
    update tbl_gb_permission_info
    set name = #{name,jdbcType=VARCHAR},
      perm = #{perm,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>