<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwkj.cost.mapper.auto.ReportEnclosureInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xwkj.cost.model.ReportEnclosureInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="report_id" property="reportId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, file_path, create_time, report_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tbl_gb_report_enclosure_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_gb_report_enclosure_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xwkj.cost.model.ReportEnclosureInfo" >
    insert into tbl_gb_report_enclosure_info (id, file_path, create_time,
      report_id)
    values (#{id,jdbcType=BIGINT}, #{filePath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{reportId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xwkj.cost.model.ReportEnclosureInfo" >
    insert into tbl_gb_report_enclosure_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="reportId != null" >
        report_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xwkj.cost.model.ReportEnclosureInfo" >
    update tbl_gb_report_enclosure_info
    <set >
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportId != null" >
        report_id = #{reportId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xwkj.cost.model.ReportEnclosureInfo" >
    update tbl_gb_report_enclosure_info
    set file_path = #{filePath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      report_id = #{reportId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>