<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwkj.cost.mapper.auto.SubContractInfoMapper">
  <resultMap id="BaseResultMap" type="com.xwkj.cost.model.SubContractInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sub_contract_name" jdbcType="VARCHAR" property="subContractName" />
    <result column="sub_contract_num" jdbcType="VARCHAR" property="subContractNum" />
    <result column="sub_contract_cost" jdbcType="DECIMAL" property="subContractCost" />
    <result column="pay_item" jdbcType="VARCHAR" property="payItem" />
    <result column="cost_money" jdbcType="DECIMAL" property="costMoney" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="payee_tel" jdbcType="VARCHAR" property="payeeTel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="contract_id" jdbcType="BIGINT" property="contractId" />
    <result column="cost_type_id" jdbcType="VARCHAR" property="costTypeId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sub_contract_name, sub_contract_num, sub_contract_cost, pay_item, cost_money, 
    status, payee, payee_tel, create_time, company, contract_id, cost_type_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_gb_sub_contract_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_gb_sub_contract_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xwkj.cost.model.SubContractInfo">
    insert into tbl_gb_sub_contract_info (id, sub_contract_name, sub_contract_num, 
      sub_contract_cost, pay_item, cost_money, 
      status, payee, payee_tel, 
      create_time, company, contract_id, 
      cost_type_id)
    values (#{id,jdbcType=BIGINT}, #{subContractName,jdbcType=VARCHAR}, #{subContractNum,jdbcType=VARCHAR}, 
      #{subContractCost,jdbcType=DECIMAL}, #{payItem,jdbcType=VARCHAR}, #{costMoney,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{payee,jdbcType=VARCHAR}, #{payeeTel,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{company,jdbcType=VARCHAR}, #{contractId,jdbcType=BIGINT}, 
      #{costTypeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xwkj.cost.model.SubContractInfo" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_gb_sub_contract_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="subContractName != null">
        sub_contract_name,
      </if>
      <if test="subContractNum != null">
        sub_contract_num,
      </if>
      <if test="subContractCost != null">
        sub_contract_cost,
      </if>
      <if test="payItem != null">
        pay_item,
      </if>
      <if test="costMoney != null">
        cost_money,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="payee != null">
        payee,
      </if>
      <if test="payeeTel != null">
        payee_tel,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="costTypeId != null">
        cost_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subContractName != null">
        #{subContractName,jdbcType=VARCHAR},
      </if>
      <if test="subContractNum != null">
        #{subContractNum,jdbcType=VARCHAR},
      </if>
      <if test="subContractCost != null">
        #{subContractCost,jdbcType=DECIMAL},
      </if>
      <if test="payItem != null">
        #{payItem,jdbcType=VARCHAR},
      </if>
      <if test="costMoney != null">
        #{costMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="payee != null">
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="payeeTel != null">
        #{payeeTel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=BIGINT},
      </if>
      <if test="costTypeId != null">
        #{costTypeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xwkj.cost.model.SubContractInfo">
    update tbl_gb_sub_contract_info
    <set>
      <if test="subContractName != null">
        sub_contract_name = #{subContractName,jdbcType=VARCHAR},
      </if>
      <if test="subContractNum != null">
        sub_contract_num = #{subContractNum,jdbcType=VARCHAR},
      </if>
      <if test="subContractCost != null">
        sub_contract_cost = #{subContractCost,jdbcType=DECIMAL},
      </if>
      <if test="payItem != null">
        pay_item = #{payItem,jdbcType=VARCHAR},
      </if>
      <if test="costMoney != null">
        cost_money = #{costMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="payee != null">
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="payeeTel != null">
        payee_tel = #{payeeTel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=BIGINT},
      </if>
      <if test="costTypeId != null">
        cost_type_id = #{costTypeId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xwkj.cost.model.SubContractInfo">
    update tbl_gb_sub_contract_info
    set sub_contract_name = #{subContractName,jdbcType=VARCHAR},
      sub_contract_num = #{subContractNum,jdbcType=VARCHAR},
      sub_contract_cost = #{subContractCost,jdbcType=DECIMAL},
      pay_item = #{payItem,jdbcType=VARCHAR},
      cost_money = #{costMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      payee = #{payee,jdbcType=VARCHAR},
      payee_tel = #{payeeTel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      company = #{company,jdbcType=VARCHAR},
      contract_id = #{contractId,jdbcType=BIGINT},
      cost_type_id = #{costTypeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>